<!DOCTYPE html>
<html>
<head>
<title>Payment</title>

<style>

body{
    background:#f4f6fb;
    font-family:'Segoe UI';
}

.payment-container{

    width:500px;
    background:white;
    margin:50px auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

h2{
    text-align:center;
    color:#2563eb;
}

.details{
    background:#f9fafb;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}

.details p{
    margin:10px 0;
    font-size:17px;
}

.total{
    color:red;
    font-size:24px;
    font-weight:bold;
}

.payment-method{
    margin-top:30px;
}

.btn{

    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    margin-top:15px;
    cursor:pointer;
    color:white;
    font-size:17px;

}

.online{
    background:#2563eb;
}

.cash{
    background:#10b981;
}

</style>

</head>
<body>

<div class="payment-container">

<h2>Payment Details</h2>

<div class="details">

<p><b>Car :</b> <%= carName %></p>

<p><b>Delivery Type :</b> <%= deliveryType %></p>

<p><b>Address :</b> <%= deliveryAddress %></p>

<p><b>Pickup Date :</b> <%= pickingDate %></p>

<p><b>Drop Date :</b> <%= droppingDate %></p>

<p><b>Price Per Day :</b> ₹<%= pricePerDay %></p>

<p class="total">
Total Amount : ₹<%= totalAmount %>
</p>

</div>

<div class="payment-method">

<button class="btn online" id="rzp-button">
Pay Online
</button>

<form action="/profile">



<button class="btn cash">
Pay at Counter
</button>

</form>

</div>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

document.getElementById('rzp-button').onclick=function(){

fetch('/create-order',{

method:'POST',

headers:{
'Content-Type':'application/json'
},

body:JSON.stringify({
amount:<%= totalAmount %>*100
})

})

.then(res=>res.json())

.then(order=>{

var options={

key:"YOUR_KEY_ID",

amount:order.amount,

currency:"INR",

name:"Rentify",

description:"Car Booking",

order_id:order.id,

handler:function(){

alert("Payment Successful");

window.location="/profile?message=Payment Successfully";

}

};

var rzp=new Razorpay(options);

rzp.open();

});

}

</script>

</body>
</html>